<app-navbar></app-navbar>
<section id="hero" class="position-relative overflow-hidden bg-dark text-white py-5">
  <!-- The video -->
<video autoplay muted loop id="myVideo" preload="auto">
  <source src="https://videos.pexels.com/video-files/6192969/6192969-hd_1920_1080_30fps.mp4" type="video/mp4">
</video>
  <div class="overlay position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.45);"></div>
  
  <!-- Contenido de la sección -->
  <div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <h1 class="display-4 text-center mb-3" style="font-family: 'Poppins', sans-serif; font-weight: 500; font-style: normal;">CEMEDICAR IPS: Tu salud digital al alcance.</h1>
    <p class="lead text-center mb-4" style="font-family: 'Poppins', sans-serif; font-weight: 300; font-style: normal;">Suscripciones, teleconsultas y más desde casa para ti.</p>
    <a href="#" target="_blank" rel="nofollow" class="btn btn-primary btn-lg rounded-pill">
      Registrarme gratis
    </a>
  </div>
</section>
<section id="hero-services" class="position-relative py-5" style="background-color: #C6B5A0 ;">
  <div class="container services-section">
    <h2 class="text-center">Servicios de Salud</h2>
    <div class="row">
      <div class="col-md-6 service">
        <i class="fas fa-stethoscope"></i>
        <h3>Suscripciones Médicas</h3>
        <p>Obtén acceso a información médica y servicios de salud digital a través de nuestras suscripciones personalizadas.</p>
      </div>
      <div class="col-md-6 service">
        <i class="fas fa-user-md"></i>
        <h3>Teleconsultas Disponibles</h3>
        <p>Accede a consultas médicas en línea con profesionales de la salud desde cualquier lugar y en cualquier momento.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
