<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Información -->
      <div class="col-md-4 mb-3">
        <h5>Información</h5>
        <p>Tu plataforma digital para la salud desde casa.</p>
      </div>
      <!-- Redes sociales -->
      <div class="col-md-4 mb-3 text-center">
        <h5>Síguenos</h5>
        <div>
          <a href="https://www.facebook.com/" target="_blank" class="text-white me-3" title="Facebook">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/" target="_blank" class="text-white me-3" title="Instagram">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="https://tiktok.com" target="_blank" class="text-white me-3" title="TikTok">
            <i class="fab fa-tiktok fa-2x"></i>
          </a>
          <a href="https://twitter.com/" target="_blank" class="text-white" title="Twitter">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
        </div>
      </div>
      <!-- Derechos reservados -->
      <div class="col-md-4 mb-3 text-end">
        <p>&copy; Desing by HMDevs© 2024. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>